<!-- FAQ Section -->
<section id="FAQ" class="bg-light-gray">
    <div class="container">
        <div class="row">
            <div class="col-lg-12 text-center">
                <h2 class="section-heading">Cuestións e respostas</h2>
            </div>
        </div>
        <div class="col-lg-8 col-lg-offset-2 text-center">
            <h4 class="service-heading">Como é o clima en Galiza?</h4>  
            <p class="largepad text-muted">Se estás lendo isto en galego, ou ben es de aquí ou de cerca, así que tampouco cho vou explicar.</p>
            <h4 class="service-heading">Cal é o código de vestimenta?</h4>  
            <p class="largepad text-muted">Calquera prenda é válida, mais cores claras non, porque non queremos eclipsar á noiva, verdade? :-P</p>
            <h4 class="service-heading">Haberá transporte ata o evento?</h4>  
            <p class="largepad text-muted">Si, dende Cambados e Vilagarcía de Arousa.</p>
        </div>
    </div>
</section>