<section id="donate">
    <div class="container">
        <div class="row">
            <div class="col-lg-12 text-center">
                <h2 class="section-heading">Donate</h2>
            </div>
        </div>
        <div class="row">
            We are donating to <a href="https://cromosomosx.org/">CromosomosX</a> and <a href="https://www.enfermedades-raras.org/">FEDER</a> (Spanish Rare Diseases) a part of our wedding gifts. Considering signing up on these awesome associations!
        </div>
        <div class="row" style="padding: 0em 2em;">
            <div class="card text-center" style="width: 100%;">
                <img src="/img/donate/cromosomosx-logo.png" class="card-img-top" alt="CromosomosX">
                <div class="card-body">
                    <h5 class="card-title">CromosomosX</h5>
                    <p class="card-text">La pobreza menstrual provoca que niñas y adolescentes no asistan a clase cuando tienen la regla
                        y la educación menstrual es la gran tarea pendiente para normalizar este proceso biológico.
                        El tabú menstrual es el causante de lo que acabas de leer.
                        Su erradicación la única forma de lograr que cada mujer menstrúe con dignidad y sin privaciones.</p>
                    <a href="https://cromosomosx.org/" class="btn btn-primary">Página web</a>
                </div>
            </div>
        </div>
        <div class="row" style="padding: 2em;">
            <div class="card text-center" style="width: 100%;">
                <img src="/img/donate/feder.svg" class="card-img-top" style="width: 50%;text-align: center;" alt="FEDER">
                <div class="card-body">
                    <h5 class="card-title">FEDER</h5>
                    <p class="card-text">La misión de FEDER es promover los derechos de quienes conviven con una enfermedad rara y en búsqueda de diagnóstico, generando estrategias que contribuyan a mejorar su calidad de vida.</p>
                    <a href="https://www.enfermedades-raras.org/" class="btn btn-primary">Página web</a>
                </div>
            </div>           
        </div>
    </div>
</section>