<section id="donate">
    <div class="container">
        <div class="row">
            <div class="col-lg-12 text-center">
                <h2 class="section-heading">Donaciones</h2>
            </div>
        </div>
        <div class="col-lg-8 col-lg-offset-2 text-center">
            El dinero destinado a los recuerdos de boda que se regalan a los invitados se donará a <a href="https://cromosomosx.org/">CromosomosX</a> y <a href="https://www.enfermedades-raras.org/">FEDER</a>.
        </div>
        <div class="col-lg-8 col-lg-offset-2 text-center">
            <div class="card text-center" style="width: 100%;">
                <img src="/img/donate/cromosomosx-logo.png" class="card-img-top" alt="CromosomosX">
                <div class="card-body">
                    <h5 class="card-title">CromosomosX</h5>
                    <p class="card-text">La pobreza menstrual provoca que niñas y adolescentes no asistan a clase cuando tienen la regla
                        y la educación menstrual es la gran tarea pendiente para normalizar este proceso biológico.
                        El tabú menstrual es el causante de lo que acabas de leer.
                        Su erradicación la única forma de lograr que cada mujer menstrúe con dignidad y sin privaciones.</p>
                    <a href="https://cromosomosx.org/" class="btn btn-primary">Página web</a>
                </div>
            </div>
        </div>
        <div class="col-lg-8 col-lg-offset-2 text-center">
            <div class="card text-center" style="width: 100%;">
                <img src="/img/donate/feder.svg" class="card-img-top" style="width: 50%;text-align: center;" alt="FEDER">
                <div class="card-body">
                    <h5 class="card-title">FEDER</h5>
                    <p class="card-text">La misión de FEDER es promover los derechos de quienes conviven con una enfermedad rara y en búsqueda de diagnóstico, generando estrategias que contribuyan a mejorar su calidad de vida.</p>
                    <a href="https://www.enfermedades-raras.org/" class="btn btn-primary">Página web</a>
                </div>
            </div>           
        </div>
    </div>
</section>