<!-- FAQ Section -->
<section id="FAQ" class="bg-light-gray">
    <div class="container">
        <div class="row">
            <div class="col-lg-12 text-center">
                <h2 class="section-heading">Preguntas y Respuestas</h2>
            </div>
        </div>
        <div class="col-lg-8 col-lg-offset-2 text-center">
            <h4 class="service-heading">¿Cómo será el clima?</h4>  
            <p class="largepad text-muted">Si no eres gallego ya te lo digo yo: puede ser que haga sol, puede ser que llueva, nunca se sabe. Típicamente no debería llover, incluso podría hacer más de 30ºC, pero lo dicho: esto es Galicia.</p>
            <h4 class="service-heading">¿Hay algún código de vestimenta?</h4>  
            <p class="largepad text-muted">Cualquier prenda es válida, la única imposición son los colores claros, porque no queremos eclipsar a la novia, ¿a que no?</p>
            <h4 class="service-heading">¿Habrá transporte?</h4>  
            <p class="largepad text-muted">Sí, desde Cambados y Vilagarcía de Arousa.</p>
        </div>
    </div>
</section>