<section id="contact">
    <div class="container">
        <div class="row">
            <div class="col-lg-12 text-center">
                <h2 class="section-heading">Donate</h2>
            </div>
        </div>
        <div class="row" style="color: white; padding: 0em 2em;">
            <div class="col-md-6">
                <a href="https://cromosomosx.org/">
                    <img alt="cromosomosx" src="/img/donate/cromosomosx-logo.png">
                </a>
            </div>
            <div class="col-md-6">
                <div class="col-md-6">
                    <a href="https://www.enfermedades-raras.org/">
                        <img alt="enfermedades-raras" src="/img/donate/feder.svg">
                    </a>
                </div>           
            </div>
        </div>
    </div>
</section>