<!-- FAQ Section -->
<section id="FAQ" class="bg-light-gray">
    <div class="container">
        <div class="row">
            <div class="col-lg-12 text-center">
                <h2 class="section-heading">Frequently Asked Questions</h2>
            </div>
        </div>
        <div class="col-lg-8 col-lg-offset-2 text-center">
            <h4 class="service-heading">What will the weather be like?</h4>  
            <p class="largepad text-muted">Galicia is our home, and we love it, but maybe its weather isn't the best in Spain. Said this, during summer it should be fine, even reaching 30ºC, but it could also rain. You never know. Be prepared for a warm temperature, but also for the rain.</p>
            <h4 class="service-heading">What is the dress code?</h4>  
            <p class="largepad text-muted">Anything is valid, but light colors (because you don't want to eclipse the bride, right?).</p>
            <h4 class="service-heading">Will transportation be arranged?</h4>  
            <p class="largepad text-muted">Yes, from Cambados and Vilagarcía de Arousa.</p>
        </div>
    </div>
</section>