<!-- Where To Stay Section -->
<section id="stay" class="bg-light-gray">
    <div class="container">
        <div class="row">
            <div class="col-lg-12 text-center">
                <h2 class="section-heading">Where To Stay</h2>
                <h3 class="section-subheading text-muted">
                    These are our recommendations in Vilagarcia de Arousa and Cambados. We have blocked a limited number of rooms in Hotel Carril (please contact us).
                    Remember there will be free transportation available for Saturday from both locations.
                </h3>
            </div>
        </div>
        <div class="row">
            <div class="col-md-6">
                <h3 class="section-heading">Vilagarcía</h3>
                <ul style="list-style-type:none;">
                    <li>
                        Hotel Carril ****
                        <ul class="fa-ul">
                            <li>
                                <span class="fa-li"><i class="fa fa-map-marker"></i></span><span class="text-muted plist">Rúa Lucena, 18, Vilagarcía de Arousa</span>
                            </li>
                            <li>
                                <span class="fa-li"><i class="fa fa-phone"></i></span><span class="text-muted plist">+34 986 31 92 46</span>
                            </li>
                            <li>
                                <span class="fa-li"><i class="fas fa-external-link-alt"></i></span><span class="plist"><a href="https://www.aldahotels.es/hoteles/galicia/pontevedra/hotel-alda-carril">https://www.aldahotels.es/</a></span>
                            </li>
                            <li>
                                <span class="fa-li"><i class="fa fa-car"></i></span><span class="text-muted plist">Pre-wedding place, 15km to venue</span>
                            </li>
                            <li>
                                <span class="fa-li"><i class="fa fa-check"></i></span><span class="text-muted plist">We have reserved rooms here. Please contact with us.</span>
                            </li>
                            <li><br></li>
                        </ul>
                    </li>

                    <li>
                        Hotel Vilagarcía *
                        <ul class="fa-ul">
                            <li>
                                <span class="fa-li"><i class="fa fa-map-marker"></i></span><span class="text-muted plist">Av. da Mariña, 16, Vilagarcía de Arousa</span>
                            </li>
                            <li>
                                <span class="fa-li"><i class="fa fa-phone"></i></span><span class="text-muted plist">+34 886 21 56 12</span>
                            </li>
                            <li>
                                <span class="fa-li"><i class="fas fa-external-link-alt"></i></span><span class="plist"><a href="https://hotelvilagarcia.es/">https://hotelvilagarcia.es/</a></span>
                            </li>
                            <li>
                                <span class="fa-li"><i class="fa fa-car"></i></span><span class="text-muted plist">20km to venue</span>
                            </li>
                            <li><br></li>
                        </ul>
                    </li>

                    <li>
                        Hotel Playa Compostela ***
                        <ul class="fa-ul">
                            <li>
                                <span class="fa-li"><i class="fa fa-map-marker"></i></span><span class="text-muted plist">Av. Rosalía de Castro, 138, Vilagarcía de Arousa</span>
                            </li>
                            <li>
                                <span class="fa-li"><i class="fa fa-phone"></i></span><span class="text-muted plist">+34 986 50 40 10</span>
                            </li>
                            <li>
                                <span class="fa-li"><i class="fas fa-external-link-alt"></i></span><span class="plist"><a href="https://www.playacompostela.com/">https://www.playacompostela.com/</a></span>
                            </li>
                            <li>
                                <span class="fa-li"><i class="fa fa-car"></i></span><span class="text-muted plist">15km to venue</span>
                            </li>
                            <li><br></li>
                        </ul>
                    </li>

                    <li>
                        Hotel Alda Castelao ***
                        <ul class="fa-ul">
                            <li>
                                <span class="fa-li"><i class="fa fa-map-marker"></i></span><span class="text-muted plist">Av. da Mariña, 16, Vilagarcía de Arousa</span>
                            </li>
                            <li>
                                <span class="fa-li"><i class="fa fa-phone"></i></span><span class="text-muted plist">Phone number</span>
                            </li>
                            <li>
                                <span class="fa-li"><i class="fas fa-external-link-alt"></i></span><span class="plist"><a href="https://www.aldahotels.es/hoteles/galicia/pontevedra/hotel-alda-castelao">https://www.aldahotels.es/</a></span>
                            </li>
                            <li>
                                <span class="fa-li"><i class="fa fa-car"></i></span><span class="text-muted plist">20km to venue</span>
                            </li>
                            <li><br></li>
                        </ul>
                    </li>
                </ul>
            </div>

            <div class="col-md-6">
                <h3 class="section-heading">Cambados</h3>
                <ul style="list-style-type:none;">
                    <li>
                        Parador de Cambados ****
                        <ul class="fa-ul">
                            <li>
                                <span class="fa-li"><i class="fa fa-map-marker"></i></span><span class="text-muted plist">P.º Calzada, s/n, Cambados</span>
                            </li>
                            <li>
                                <span class="fa-li"><i class="fa fa-phone"></i></span><span class="text-muted plist">+34 986 54 22 50</span>
                            </li>
                            <li>
                                <span class="fa-li"><i class="fas fa-external-link-alt"></i></span><span class="plist"><a href="http://www.parador.es/es/paradores/parador-de-cambados">http://www.parador.es/es/paradores/parador-de-cambados</a></span>
                            </li>
                            <li>
                                <span class="fa-li"><i class="fa fa-car"></i></span><span class="text-muted plist">30km to venue</span>
                            </li>
                            <li><br></li>
                        </ul>
                    </li>

                    <li>
                        Ribeira de Fefiñáns **
                        <ul class="fa-ul">
                            <li>
                                <span class="fa-li"><i class="fa fa-map-marker"></i></span><span class="text-muted plist">Rúa Ribeira de Fefiñáns, 24, Cambados</span>
                            </li>
                            <li>
                                <span class="fa-li"><i class="fa fa-phone"></i></span><span class="text-muted plist">+34 986 52 49 97</span>
                            </li>
                            <li>
                                <span class="fa-li"><i class="fas fa-external-link-alt"></i></span><span class="plist"><a href="http://www.ribeiradefefinans.com/">http://www.ribeiradefefinans.com/</a></span>
                            </li>
                            <li>
                                <span class="fa-li"><i class="fa fa-car"></i></span><span class="text-muted plist">30km to venue</span>
                            </li>
                            <li><br></li>
                        </ul>
                    </li>

                    <li>
                        Hotel Real Cambados *
                        <ul class="fa-ul">
                            <li>
                                <span class="fa-li"><i class="fa fa-map-marker"></i></span><span class="text-muted plist">Rúa Real, 8, Cambados</span>
                            </li>
                            <li>
                                <span class="fa-li"><i class="fa fa-phone"></i></span><span class="text-muted plist">+34 986 52 44 04</span>
                            </li>
                            <li>
                                <span class="fa-li"><i class="fas fa-external-link-alt"></i></span><span class="plist"><a href="http://hotelrealcambados.com/">http://hotelrealcambados.com/</a></span>
                            </li>
                            <li>
                                <span class="fa-li"><i class="fa fa-car"></i></span><span class="text-muted plist">30km to venue</span>
                            </li>
                            <li><br></li>
                        </ul>
                    </li>

                    <li>
                        Pazo a Capitana *
                        <ul class="fa-ul">
                            <li>
                                <span class="fa-li"><i class="fa fa-map-marker"></i></span><span class="text-muted plist">Pazo a Capitana, Rúa Sabugueiro, 46, Cambados</span>
                            </li>
                            <li>
                                <span class="fa-li"><i class="fa fa-phone"></i></span><span class="text-muted plist">+34 986 52 05 13</span>
                            </li>
                            <li>
                                <span class="fa-li"><i class="fas fa-external-link-alt"></i></span><span class="plist"><a href="https://pazoacapitana.com/">https://pazoacapitana.com/</a></span>
                            </li>
                            <li>
                                <span class="fa-li"><i class="fa fa-car"></i></span><span class="text-muted plist">30km to venue</span>
                            </li>
                            <li><br></li>
                        </ul>
                    </li>
                </ul>
            </div>
        </div>
    </div>
</section>